@import './mixins';

.aboutInformationWrapper__title {
  padding-left: $mobile-padding-between-components;
  padding-top: $mobile-padding-before-headlines;
  padding-bottom: $mobile-padding-between-components;
}

.aboutInformationWrapper__titleHeader {
  @include mobile-page-section-header-style(2rem, 32px, 700);
}

.bandQuoteWrapper {
  padding-top: $mobile-padding-between-components;
  padding-left: $mobile-padding-between-components;
  padding-bottom: $mobile-padding-between-components;
}

.bandQuoteWrapper p {
  @include mobile-page-subheader-style(0.9rem, 22px, 600);
}

.bandBiographyWrapper__quote {
  padding-bottom: $mobile-padding-between-components;
}

.bandBiographyWrapper {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding-left: $mobile-padding-between-components;
  padding-right: $mobile-padding-between-components;
}

.bandBiographyWrapper__title {
  color: $BandSite-Black;
  padding-bottom: $mobile-padding-between-components;
  //What relative unit for line height?
  @include mobile-page-subheader-style(1rem, 22px, 600);
}

.bandBiographyWrapper__text {
  padding-bottom: $mobile-padding-between-components;
  @include mobile-body-footer-style(0.8rem, 18px, 400);
}