/*
  Name: Anurag Bhattacharya
  Project Name: BandSite Project - Sprint 1
  Document Description: This is the Band Site Logo SCSSS Stylesheet

  Diving Deeper:
  - Main Navigation: Hover effect to let user know which page is active & inactive
  - Photo Gallery: Photo Gallery Images are greyscale by default and on hover, each image returns to color
*/

//Mixin SCSS Stylesheet
@import './mixins';

//BandSite Main Logo Wrapper Styles
.main-logo-wrapper 
{
  padding-top: $mobile-padding-before-headlines;

  //Tablet and Onwards Size Styles
  @include tablet 
  {
    padding: 
      $desktop-tablet-padding-before-headlines 
      $desktop-tablet-padding-between-components 
      $desktop-tablet-padding-after-headlines 
      $desktop-tablet-padding-between-components;
  }
}

//Bandsite Main Logo Image Styles
.main-logo-wrapper__logo, .footerBandSiteLogo__bandSiteLogo 
{
  @include bandSiteLogo-styles(
    20px, 
    120px
  );
}



