.bandSiteLogo {
  padding-top: $mobile-padding-after-headlines;
  padding-bottom: $mobile-padding-after-headlines;
  max-height: 20%;
  max-width: 120%;
}

.copyrightWrapper__logo {
  padding-top: $mobile-padding-before-headlines;
  max-height: 10%;
  max-width: 45%;
}