@import './mixins';

@import './fonts';

.bandComments {
  padding: 0px $mobile-padding-between-components;

  @include tablet {
    padding: 0px $desktop-tablet-padding-between-components;
  }

  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__mainTitle {
    font-family: "AvenirNext-Bold";
    @include text-styles(2rem, 32px, 700);
    padding-top: $mobile-padding-before-headlines;
    padding-bottom: $mobile-padding-after-headlines;

    @include tablet {
      @include text-styles(2.25rem, 44px, 700);
    }
  }

  &__content {
    @include tablet {
      padding: 0px $desktop-tablet-padding-between-components;
    }
  }
}

.commentsForm {
  display: flex;
  padding-bottom: $mobile-padding-between-components;
  border-bottom: 1px solid $Mercury;

  @include tablet {
    position: relative;
    padding-bottom: $desktop-tablet-padding-between-components;
  }

  &__avaterWrapper {
    padding-right: $mobile-padding-between-components;

    @include tablet {
      padding-right: 1rem;
    }
  }

  &__avater {
    border-radius: 50%;
    width: 36px;
    height: 36px;

    @include tablet {
      width: 48px;
      height: 48px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 4px;

    @include tablet {
      width: 100%;
    }
  }

  &__submitButtonWrapper {
    padding-top: $mobile-padding-between-components;
    
    @include tablet {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__submitButton {
    background-color: $BandSite-Black;
    color: $White;
    height: 40px;
    width: 100%;
    border-radius: 4px;

    @include tablet {
      width: 150px;
      padding-left: 32px;
      padding-right: 32px;
    }
}


}

label {
  @include text-styles(0.8rem, 18px, 400);
  color: $Silver;

  @include tablet {
    @include text-styles(0.9rem, 22px, 400);
  }
  
}

label#commentLabel {
  padding-top: $mobile-padding-between-components;

  @include tablet {
    padding-top: $desktop-tablet-padding-between-components;
  }
}

input {
  height: 36px;
  width: 100%;
  border-radius: 4px;
  padding: 12px;
  border: 1px solid $Mercury;

  @include tablet {
    height: 48px;
    padding: 16px;
  }

  &:active {
    border: 1px solid $BandSite-Black;
  }
}

.commentsPanel {
  padding: $mobile-padding-between-components 0px;

  @include tablet {
    padding: $desktop-tablet-padding-between-components 0px;
  }

  &__comment {
    display: flex;
    border-bottom: 1px solid $Mercury;
    padding: $mobile-padding-between-components 0px;

    @include tablet {
      padding: $desktop-tablet-padding-between-components 0px;
    }
  }

  &__commentContent {
    width: 100%;
  }

  &__avaterWrapper {
    padding-right: $mobile-padding-between-components;

    @include tablet {
      padding-right: $desktop-tablet-padding-between-components;
    }
  }

  &__avater {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: $Mercury;

    @include tablet {
      width: 48px;
      height: 48px;
    }
  }

  &__headingContent {
    display: flex;
    justify-content: space-between;
    padding-bottom: $mobile-padding-between-components;

    @include tablet {
      padding-bottom: $desktop-tablet-padding-between-components;
    }
  }

  &__title {
    font-family: "AvenirNext-Demi";
    @include text-styles(0.8rem, 18px, 600);

    @include tablet {
      @include text-styles(0.9rem, 22px, 600);
    }
  }

  &__date {
    @include text-styles(0.8rem, 18px, 400);
    color: $Silver;

    @include tablet {
      @include text-styles(0.9rem, 22px, 400);
    }
  }

  &__personComment {
    @include text-styles(0.8rem, 18px, 400);

    @include tablet {
      @include text-styles(0.9rem, 22px, 400);
    }
  }
}