/*
  Name: 
  Anurag Bhattacharya
  Project: 
  BandSite Project - Sprint 3
  Description: 
  This is the Band Comments Partials Component
  Diving Deeper Notes:
  - All Diving Deeper From Sprint 1 Completed
  - Form Validation Diving Deeper From Sprint 2 Completed
  - Dynamic Timestamp Diving Deeper From Sprint 2 Not Completed
  - All Diving Deeper From Sprint 3 Completed
*/

/*
  All the Partials imported needed for the Band Comments Partial Component
*/

//Mixins SCSS Style sheet
@import './mixins';

//Fonts SCSS Style sheet
@import './fonts';

//Band Comments Wrapper Styles
.bandComments 
{
  padding: 0px $mobile-padding-between-components;

  @include tablet 
  {
    padding: 0px $desktop-tablet-padding-between-components;
  }

  @include desktop 
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  //Band Comments Title Styles
  &__mainTitle 
  {
    font-family: "AvenirNext-Bold";
    @include text-styles(2rem, 32px, 700);
    padding-top: $mobile-padding-before-headlines;
    padding-bottom: $mobile-padding-after-headlines;

    @include tablet 
    {
      @include text-styles(2.25rem, 44px, 700);
    }
  }

  //Band Comments Content Styles
  &__content 
  {
    @include tablet 
    {
      padding: 0px $desktop-tablet-padding-between-components;
    }
  }
}

//Band Comments Form Styles
.commentsForm 
{
  display: flex;
  padding-bottom: $mobile-padding-between-components;
  border-bottom: 1px solid $Mercury;

  @include tablet 
  {
    position: relative;
    padding-bottom: $desktop-tablet-padding-between-components;
  }

  //Band Comments Form Avatar Wrapper Styles
  &__avatarWrapper 
  {
    padding-right: $mobile-padding-between-components;

    @include tablet 
    {
      padding-right: 1rem;
    }
  }

  //Band Comments Form Avatar Styles
  &__avatar 
  {
    border-radius: 50%;
    width: 36px;
    height: 36px;

    @include tablet 
    {
      width: 48px;
      height: 48px;
    }
  }

  //Band Comments Form Styles
  &__form 
  {
    display: flex;
    flex-direction: column;
    gap: 4px;

    @include tablet 
    {
      width: 100%;
    }
  }

  //Band Comments Form Submit Button Wrapper Styles
  &__submitButtonWrapper 
  {
    padding-top: $mobile-padding-between-components;

    @include tablet 
    {
      display: flex;
      justify-content: flex-end;
    }
  }

  //Band Comments Form Submit Button Styles
  &__submitButton 
  {
    background-color: $BandSite-Black;
    color: $White;
    height: 40px;
    width: 100%;
    border-radius: 4px;

    @include tablet 
    {
      width: 150px;
      padding-left: 32px;
      padding-right: 32px;
    }

    &:hover 
    {
      background-color: $BandSite-DarkBlack;
    }
  }
}

//Band Comments Form Label Styles
label 
{
  @include text-styles(0.8rem, 18px, 400);
  color: $Silver;

  @include tablet 
  {
    @include text-styles(0.9rem, 22px, 400);
  }
}

//Band Comments Form - Comment Label
label#commentLabel 
{
  padding-top: $mobile-padding-between-components;

  @include tablet 
  {
    padding-top: $desktop-tablet-padding-between-components;
  }
}

//Band Comments Form Input Element Styles
input 
{
  height: 36px;
  width: 100%;
  border-radius: 4px;
  padding: 12px;
  border: 1px solid $Mercury;

  @include tablet 
  {
    height: 48px;
    padding: 16px;
  }

  //Band Comments Form Input Element - Active Styles
  &:active {
    border: 1px solid $BandSite-Black;
  }
}

//Band Comments Form Input Error Styles
.error-border 
{
  border: 1px solid #D22D2D;
}

//Band Comments Form Input Default Styles
.default-border 
{
  border: 1px solid $Mercury;
}

//Band Comments Panel Wrapper Styles
.commentsPanel 
{
  padding: $mobile-padding-between-components 0px;
  
  @include tablet 
  {
    padding: $desktop-tablet-padding-between-components 0px;
  }

  //Band Comments Panel Comment Styles
  &__comment 
  {
    display: flex;
    border-bottom: 1px solid $Mercury;
    padding: $mobile-padding-between-components 0px;
    
    @include tablet 
    {
      padding: $desktop-tablet-padding-between-components 0px;
    }
  }

  //Band Comments Panel Comment Content Styles
  &__commentContent 
  {
    width: 100%;
  }

  //Band Comments Panel Avatar Wrapper Styles
  &__avatarWrapper 
  {
    padding-right: $mobile-padding-between-components;
    
    @include tablet 
    {
      padding-right: $desktop-tablet-padding-between-components;
    }
  }

  //Band Comments Panel Avatar Styles
  &__avatar 
  {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: $Mercury;

    @include tablet 
    {
      width: 48px;
      height: 48px;
    }
  }

  //Band Comments Panel Heading Content Styles
  &__headingContent 
  {
    display: flex;
    justify-content: space-between;
    padding-bottom: $mobile-padding-between-components;
    
    @include tablet 
    {
      padding-bottom: $desktop-tablet-padding-between-components;
    }
  }

  //Band Comments Panel Title Styles
  &__title 
  {
    font-family: "AvenirNext-Demi";
    @include text-styles(0.8rem, 18px, 600);

    @include tablet 
    {
      @include text-styles(0.9rem, 22px, 600);
    }
  }

  //Band Comments Panel Content - Date
  &__date 
  {
    @include text-styles(0.8rem, 18px, 400);
    color: $Silver;

    @include tablet 
    {
      @include text-styles(0.9rem, 22px, 400);
    }
  }

  //Band Comments Panel Content - Comment
  &__personComment 
  {
    @include text-styles(0.8rem, 18px, 400);
    
    @include tablet 
    {
      @include text-styles(0.9rem, 22px, 400);
    }
  }

  //Icons Selection Wrapper Styles
  &__crudIcons 
  {
    display: flex;
    justify-content: flex-end;
    padding-top: $mobile-padding-between-components;

    @include tablet 
    {
      padding-top: $desktop-tablet-padding-between-components;
    }
  }

  //Like Button & Delete Button Styles
  &__likeButton, &__deleteButton 
  {

    //Button Hover Effects
    &:hover 
    {
      cursor: pointer;
      transform: scale(1.5);
    }
  }

  //Like Button & # of Comments Text Styles
  &__likeButton, &__commentLikes 
  {
    padding-right: $mobile-padding-between-components;

    @include tablet 
    {
      padding-right: $desktop-tablet-padding-between-components;
    }
  }

  //# of Comments Text Styles
  &__commentLikes 
  {
    @include text-styles(0.8rem, 18px, 400);
    color: $Silver;

    @include tablet 
    {
      @include text-styles(0.9rem, 22px, 400);
    }
  }
}