/*
  Name: Anurag Bhattacharya
  Project Name: BandSite Project - Sprint 2
  Document Description: This is the Comments Section Styles

  Diving Deeper:
  - Unable to figure out Dynamic timestamp with Comments form
  - For Comments Form, there is Form Validation:
    - If there are any errors:
      - Prevents form from submitting
      - Shows the error state as mentioned on the Style Guide
    - If there are no errors:
      - Clears any error states from form
      - Submits the form
*/

//Mixins SCSS Style sheet
@import './mixins';
//Fonts SCSS Style sheet
@import './fonts';
//Band Comments Styles
.bandComments 
{
  padding: 0px $mobile-padding-between-components;
  //Tablet and Onwards Size Styles
  @include tablet 
  {
    padding: 0px $desktop-tablet-padding-between-components;
  }
  //Desktop and Onwards Size Styles
  @include desktop 
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  //Band Comments Main Title Styles
  &__mainTitle 
  {
    font-family: "AvenirNext-Bold";
    @include text-styles(2rem, 32px, 700);
    padding-top: $mobile-padding-before-headlines;
    padding-bottom: $mobile-padding-after-headlines;
    //Tablet and Onwards Size Styles
    @include tablet 
    {
      @include text-styles(2.25rem, 44px, 700);
    }
  }

  //Band Comments Content Styles
  &__content 
  {
    //Tablet and Onwards Size Styles
    @include tablet 
    {
      padding: 0px $desktop-tablet-padding-between-components;
    }
  }
}

//Band Comment Form Section Styles
.commentsForm 
{
  display: flex;
  padding-bottom: $mobile-padding-between-components;
  border-bottom: 1px solid $Mercury;
  //Tablet and Onwards Size Styles
  @include tablet 
  {
    position: relative;
    padding-bottom: $desktop-tablet-padding-between-components;
  }

  //Band Comment Form Avatar Wrapper Styles
  &__avatarWrapper 
  {
    padding-right: $mobile-padding-between-components;
    //Tablet and Onwards Size Styles
    @include tablet 
    {
      padding-right: 1rem;
    }
  }

  //Band Comment Form Avatar Styles
  &__avatar 
  {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    //Tablet and Onwards Size Styles
    @include tablet 
    {
      width: 48px;
      height: 48px;
    }
  }

  //Band Comment Form Styles
  &__form 
  {
    display: flex;
    flex-direction: column;
    gap: 4px;
    //Tablet and Onwards Size Styles
    @include tablet 
    {
      width: 100%;
    }
  }
  //Submit Button Wrapper Styles
  &__submitButtonWrapper 
  {
    padding-top: $mobile-padding-between-components;
    //Tablet and Onwards Size Styles
    @include tablet 
    {
      display: flex;
      justify-content: flex-end;
    }
  }
  //Submit Button Styles
  &__submitButton 
  {
    background-color: $BandSite-Black;
    color: $White;
    height: 40px;
    width: 100%;
    border-radius: 4px;
    //Tablet and Onwards Size Styles
    @include tablet 
    {
      width: 150px;
      padding-left: 32px;
      padding-right: 32px;
    }
    //Submit Button Hover Styles
    &:hover {
      background-color: $BandSite-DarkBlack;
    }
  }
}

//Form Label Styles
label 
{
  @include text-styles(0.8rem, 18px, 400);
  color: $Silver;
  //Tablet and Onwards Size Styles
  @include tablet 
  {
    @include text-styles(0.9rem, 22px, 400);
  }
}

//Form Label - Comment Label Styles
label#commentLabel 
{
  padding-top: $mobile-padding-between-components;
  //Tablet and Onwards Size Styles
  @include tablet 
  {
    padding-top: $desktop-tablet-padding-between-components;
  }
}

//Form Input Styles
input 
{
  height: 36px;
  width: 100%;
  border-radius: 4px;
  padding: 12px;
  border: 1px solid $Mercury;
  //Tablet and Onwards Size Styles
  @include tablet 
  {
    height: 48px;
    padding: 16px;
  }
  //Form Input Active Styles
  &:active {
    border: 1px solid $BandSite-Black;
  }
}
//Comments Panel Section Styles
.commentsPanel 
{
  padding: $mobile-padding-between-components 0px;
  //Tablet and Onwards Size Styles
  @include tablet 
  {
    padding: $desktop-tablet-padding-between-components 0px;
  }
  //Comment Styles
  &__comment 
  {
    display: flex;
    border-bottom: 1px solid $Mercury;
    padding: $mobile-padding-between-components 0px;
    //Tablet and Onwards Size Styles
    @include tablet 
    {
      padding: $desktop-tablet-padding-between-components 0px;
    }
  }
  //Comment Content Styles
  &__commentContent 
  {
    width: 100%;
  }
  //Comment Avatar Wrapper Styles
  &__avatarWrapper 
  {
    padding-right: $mobile-padding-between-components;
    //Tablet and Onwards Size Styles
    @include tablet 
    {
      padding-right: $desktop-tablet-padding-between-components;
    }
  }
  //Comment Avatar Styles
  &__avatar 
  {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: $Mercury;
    //Tablet and Onwards Size Styles
    @include tablet 
    {
      width: 48px;
      height: 48px;
    }
  }
  //Comment Heading Content Styles
  &__headingContent 
  {
    display: flex;
    justify-content: space-between;
    padding-bottom: $mobile-padding-between-components;
    //Tablet and Onwards Size Styles
    @include tablet 
    {
      padding-bottom: $desktop-tablet-padding-between-components;
    }
  }
  //Comment Title Styles
  &__title 
  {
    font-family: "AvenirNext-Demi";
    @include text-styles(0.8rem, 18px, 600);
    //Tablet and Onwards Size Styles
    @include tablet 
    {
      @include text-styles(0.9rem, 22px, 600);
    }
  }
  //Comment Date Styles
  &__date 
  {
    @include text-styles(0.8rem, 18px, 400);
    color: $Silver;
    //Tablet and Onwards Size Styles
    @include tablet 
    {
      @include text-styles(0.9rem, 22px, 400);
    }
  }
  //Comment Person Name Styles
  &__personComment 
  {
    @include text-styles(0.8rem, 18px, 400);
    //Tablet and Onwards Size Styles
    @include tablet 
    {
      @include text-styles(0.9rem, 22px, 400);
    }
  }
}