/*
  Name: 
  Anurag Bhattacharya
  Project: 
  BandSite Project - Sprint 3
  Description: 
  This is the Fonts Partials Component
  Diving Deeper Notes:
  - All Diving Deeper From Sprint 1 Completed
  - Form Validation Diving Deeper From Sprint 2 Completed
  - Dynamic Timestamp Diving Deeper From Sprint 2 Not Completed
  - All Diving Deeper From Sprint 3 Completed
*/

//AvenirNext Regular Font Styles
@font-face 
{
  font-family: 'AvenirNext-Regular';
  src: url('../../assets/fonts/AvenirNextLTPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//AvenirNext Demi Font Styles
@font-face 
{
  font-family: 'AvenirNext-Demi';
  src: url("../../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

//AvenirNext Bold Font Styles
@font-face 
{
  font-family: 'AvenirNext-Bold';
  src: url("../../assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}