/*
  Name: 
  Anurag Bhattacharya
  Project: 
  BandSite Project - Sprint 3
  Description: 
  This is the Footer Section Partials Component
  Diving Deeper Notes:
  - All Diving Deeper From Sprint 1 Completed
  - Form Validation Diving Deeper From Sprint 2 Completed
  - Dynamic Timestamp Diving Deeper From Sprint 2 Not Completed
  - All Diving Deeper From Sprint 3 Completed
*/

/*
  All the Partials imported needed for the Footer Section Partial Component
*/

//Mixin SCSS Style sheet
@import './mixins';

//Fonts SCSS Style sheet
@import './fonts';

//Band Footer Wrapper Styles
.bandSiteFooter 
{
  background-color: $BandSite-DarkBlack;
  margin-top: $mobile-padding-between-components;
  
  @include tablet 
  {
    position: relative;
  }

  //Band Footer Content Wrapper Styles
  &__content 
  {
    padding-left: $mobile-padding-between-components;
    
    @include tablet 
    {
      padding-left: $desktop-tablet-padding-between-components;
    }
  }
  
  //Band Footer Title Styles
  &__mainTitle 
  {
    color: $White;
    padding-top: $mobile-padding-before-headlines;
    font-family: 'AvenirNext-Bold';
    @include text-styles(2rem, 32px, 700);
    
    @include tablet 
    {
      padding-top: $desktop-tablet-padding-before-headlines;
      @include text-styles(2.25rem, 44px, 700);
    }
  }
  
  //Band Footer Header Content Styles
  &__headerContent 
  {
    @include tablet 
    {
      display: flex;
    }
  }

  //Band Footer Social Icons Selection Styles
  &__socialIcons 
  {
    padding-top: $mobile-padding-between-components;
    display: flex;
    
    @include tablet 
    {
      padding: 3.75rem 0px 0px $desktop-tablet-padding-between-components;
    }
  }
  
  //Band Footer Social Icons Icon Images Styles
  &__socialIcons-icon 
  {
    padding-right: $mobile-padding-between-components;
  }
  
  //Band Footer Contact Info Styles
  &__contactInfo 
  {
    padding-top: $mobile-padding-between-components;
    
    @include tablet 
    {
      display: flex;
      padding: $desktop-tablet-padding-between-components 0px;
    }
  }
  
  //Band Footer Contact Info Content Styles
  &__contactInfo-content 
  {
    @include tablet 
    {
      padding-right: $desktop-tablet-padding-between-components;
    }
  }
  
  //Band Footer Contact Info Heading Paragraph Styles
  &__contactInfo-heading p
  {
    color: $White;
    font-family: 'AvenirNext-Demi';
    @include text-styles(0.8rem, 18px, 600);
    
    @include tablet 
    {
      @include text-styles(0.9rem, 22px, 600);
    }
  }

  //Band Footer Contact Info Paragraph Styles
  &__contactInfo-info p 
  {
    color: $White;
    @include text-styles(0.8rem, 18px, 400);
    
    @include tablet 
    {
      @include text-styles(0.9rem, 22px, 400);
    }
  }
  
  //Band Footer Contact Info Styles
  &__contactInfo-info 
  {
    padding-top: $mobile-padding-between-components;
  }
  
  //Band Footer Logo Styles
  &__logoWrapper 
  {
    padding-top: $mobile-padding-before-headlines;
    padding-bottom: $mobile-padding-between-components;
    
    @include tablet 
    {
      position: absolute;
      top: 20px;
      right: 50px;
    }
  }
  
  //Band Footer Copyright Section Styles
  &__copyrightInfo 
  {
    padding-bottom: $mobile-padding-between-components;

    //Band Footer Copyright Paragraph Styles
    p 
    {
      color: $White;
      @include text-styles(0.8rem, 18px, 400);
      
      @include tablet 
      {
        @include text-styles(0.9rem, 22px, 400)
      }
    }
  }
}