/*
  Name: Anurag Bhattacharya
  Project Name: BandSite Project - Sprint 2
  Document Description: This is the Footer Section Styles

  Diving Deeper:
  - Unable to figure out Dynamic timestamp with Comments form
  - For Comments Form, there is Form Validation:
    - If there are any errors:
      - Prevents form from submitting
      - Shows the error state as mentioned on the Style Guide
    - If there are no errors:
      - Clears any error states from form
      - Submits the form
*/
//Mixin SCSS Style sheet
@import './mixins';
//Fonts SCSS Style sheet
@import './fonts';
//Band Footer Styles
.bandSiteFooter 
{
  background-color: $BandSite-DarkBlack;
  margin-top: $mobile-padding-between-components;
  //Tablet and Onwards Size Styles
  @include tablet 
  {
    position: relative;
  }
  //Band Footer Content Styles
  &__content 
  {
    padding-left: $mobile-padding-between-components;
    //Tablet and Onwards Size Styles
    @include tablet 
    {
      padding-left: $desktop-tablet-padding-between-components;
    }
  }
  //Band Footer Main Title Styles
  &__mainTitle 
  {
    color: $White;
    padding-top: $mobile-padding-before-headlines;
    font-family: 'AvenirNext-Bold';
    @include text-styles(2rem, 32px, 700);
    //Tablet and Onwards Size Styles
    @include tablet 
    {
      padding-top: $desktop-tablet-padding-before-headlines;
      @include text-styles(2.25rem, 44px, 700);
    }
  }
  //Band Footer Header Content Styles
  &__headerContent 
  {
    @include tablet 
    {
      display: flex;
    }
  }

  //Band Footer Social Icons Section Styles
  &__socialIcons 
  {
    padding-top: $mobile-padding-between-components;
    display: flex;
    //Tablet and Onwards Size Styles
    @include tablet 
    {
      padding: 3.75rem 0px 0px $desktop-tablet-padding-between-components;
    }
  }
  //Band Footer Social Icon Styles
  &__socialIcons-icon 
  {
    padding-right: $mobile-padding-between-components;
  }
  //Band Footer Contact Info Section Styles
  &__contactInfo 
  {
    padding-top: $mobile-padding-between-components;
    //Tablet and Onwards Size Styles
    @include tablet 
    {
      display: flex;
      padding: $desktop-tablet-padding-between-components 0px;
    }
  }
  //Band Footer Contact Info Content Styles
  &__contactInfo-content 
  {
    //Tablet and Onwards Size Styles
    @include tablet 
    {
      padding-right: $desktop-tablet-padding-between-components;
    }
  }
  //Band Footer Contact Info Header Styles
  &__contactInfo-heading p
  {
    color: $White;
    font-family: 'AvenirNext-Demi';
    @include text-styles(0.8rem, 18px, 600);
    //Tablet and Onwards Size Styles
    @include tablet 
    {
      @include text-styles(0.9rem, 22px, 600);
    }
  }
  //Band Footer Contact Info Text Styles
  &__contactInfo-info p 
  {
    color: $White;
    @include text-styles(0.8rem, 18px, 400);
    //Tablet and Onwards Size Styles
    @include tablet 
    {
      @include text-styles(0.9rem, 22px, 400);
    }
  }
  //Band Footer Contact Info Text Styles
  &__contactInfo-info 
  {
    padding-top: $mobile-padding-between-components;
  }
  //Band Footer Logo Wrapper Styles
  &__logoWrapper 
  {
    padding-top: $mobile-padding-before-headlines;
    padding-bottom: $mobile-padding-between-components;
    //Tablet and Onwards Size Styles
    @include tablet 
    {
      position: absolute;
      top: 20px;
      right: 50px;
    }
  }
  //Band Footer Copyright Info Section Styles
  &__copyrightInfo 
  {
    padding-bottom: $mobile-padding-between-components;

    //Band Footer Copyright Info Text Styles
    p 
    {
      color: $White;
      @include text-styles(0.8rem, 18px, 400);
      //Tablet and Onwards Size Styles
      @include tablet 
      {
        @include text-styles(0.9rem, 22px, 400)
      }
    }
  }
}