@import './mixins';

.headerSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $BandSite-Black;

  @include tablet {
    flex-direction: row;
  }
}