/*
  Name: 
  Anurag Bhattacharya
  Project: 
  BandSite Project - Sprint 3
  Description: 
  This is the Header Section Partials Component
  Diving Deeper Notes:
  - All Diving Deeper From Sprint 1 Completed
  - Form Validation Diving Deeper From Sprint 2 Completed
  - Dynamic Timestamp Diving Deeper From Sprint 2 Not Completed
  - All Diving Deeper From Sprint 3 Completed
*/

/*
  All the Partials imported needed for the Footer Section Partial Component
*/

//Mixin SCSS Style sheet
@import './mixins';

//Fonts SCSS Style sheet
@import './fonts';

//Band Main Header Styles
.mainHeader
{
  @include header-section-styles(100%, flex, column, center, center, $BandSite-Black);
  
  @include tablet 
  {
    flex-direction: row;
  }
  
  //Band Logo Wrapper Styles
  &__bandSiteLogo-wrapper 
  {
    padding-top: $mobile-padding-before-headlines;
    
    @include tablet 
    {
      padding: 
        $desktop-tablet-padding-before-headlines 
        $desktop-tablet-padding-between-components 
        $desktop-tablet-padding-after-headlines 
        $desktop-tablet-padding-between-components;
    }
    
    //Band Logo Image Styles
    &-image 
    {
      @include bandSiteLogo-styles(20px, 120px);
    }
  }
  
  //Band Main Navigation Styles
  &__mainNavigation 
  {
    width: 100%;
    padding-top: $mobile-padding-between-components;
    
    @include tablet 
    {
      padding-top: $desktop-tablet-padding-between-components;  
    }
  }
  
  //Band Main Navigation List Styles
  &__mainNavigation-list 
  {
    width: 100%;
    display: flex;
    text-align: center;
  }
  
  //Band Main Navigation List-Item Styles
  &__mainNavigation-list li
  {
    list-style: none;
    width: 50%;
    font-family: 'AvenirNext-Bold';
    @include text-styles(0.9rem, 32px, 700);
    
    @include tablet
    {
      font-family: 'AvenirNext-Demi';
      @include text-styles(1rem,32px,600);
      width: 20%;
    }
  }
  
  //Band Main Navigation List-Item Link Styles
  &__mainNavigation-list li a 
  {
    text-decoration: none;
    color: $White;
  }
  
  //Band Main Navigation Inactive List-Item Styles
  &__mainNavigation-list li a.mainHeader__mainNavigation-inactive-list 
  {
    color: $Mercury;
    
    &:hover 
    {
      color: $White;
    }
  }
  
  //Band Main Navigation Active List-Item Styles
  &__mainNavigation-list li:hover, &__mainNavigation-list-active 
  {
    color: $White;
    border-bottom: 3.5px solid $White;
    
    @include tablet 
    {
      padding-bottom: 2rem;
    }
  }
}