/*
  Name: Anurag Bhattacharya
  Project Name: BandSite Project - Sprint 1
  Document Description: This is the Hero Section SCSSS Stylesheet

  Diving Deeper:
  - Main Navigation: Hover effect to let user know which page is active & inactive
  - Photo Gallery: Photo Gallery Images are greyscale by default and on hover, each image returns to color
*/

//Mixin SCSS Stylesheet
@import './mixins';

@import './fonts';

//Hero Section Wrapper Styles
.hero-section-wrapper 
{
  background: 
    linear-gradient(rgba(50,50,50,0.5), rgba(50,50,50,0.5)), 
    url('../assets/images/hero-bio.jpg') 
    center/cover;
  @include hero-section-wrapper-styles(
    100%, 
    200px, 
    flex, 
    column, 
    center
  );
  
  //Tablet and Onwards Size Styles
  @include tablet 
  {
    height: 400px;
  }

  //Hero Section Title Styles
  &__header 
  {
    padding: 
      $mobile-padding-before-headlines
      $mobile-padding-between-components
      $mobile-padding-after-headlines
      $mobile-padding-between-components;
    color: $White;
    font-family: "AvenirNext-Bold";
    @include text-styles(
      2rem, 
      32px, 
      700
    );

    //Tablet and Onwards Size Styles
    @include tablet 
    {
      padding: 
        $desktop-tablet-padding-before-headlines
        $desktop-tablet-padding-between-components
        $desktop-tablet-padding-after-headlines
        $desktop-tablet-padding-between-components;
      @include text-styles(3.75rem, 44px, 700);
    }
  }
}

.hero-section-wrapper-shows {
  background: 
    linear-gradient(rgba(50,50,50,0.5), rgba(50,50,50,0.5)), 
    url('../assets/images/hero-shows.jpg') 
    center/cover;
  
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablet 
  {
    height: 450px;
  }

  &__content {
    padding: $mobile-padding-between-components;

    @include tablet {
      padding: $desktop-tablet-padding-between-components;
    }
  }
  &__sectionHeader
  {
    color: $White;
    padding-bottom: $mobile-padding-after-headlines;
    font-family: "AvenirNext-Demi";
    @include text-styles(
      0.9rem, 
      22px, 
      600
    );

    @include tablet 
    {
      padding-bottom: $desktop-tablet-padding-after-headlines;
      @include text-styles(2rem, 32px, 600);
    }
  }

  &__header 
  {
    color: $White;
    padding-bottom: $mobile-padding-after-headlines;
    font-family: "AvenirNext-Bold";
    @include text-styles(
      2rem, 
      32px, 
      700
    );

    //Tablet and Onwards Size Styles
    @include tablet 
    {
      padding-bottom: $desktop-tablet-padding-after-headlines;
      @include text-styles(3.75rem, 44px, 700);
    }

    @include desktop {
      padding-right: $desktop-tablet-padding-between-components;
    }
  }
}

.header-soundcloud-section {
  @include desktop {
    display: flex;
  }
}

.hero__sound-cloud iframe {
  width: 100%;
  @include tablet {
    width: 75%;
  }
  @include desktop {
    width: 450px;
  }
}