@import './mixins';

.bandImageWrapper {
  padding-left: $mobile-padding-between-components;
  padding-right: $mobile-padding-between-components;
}

.bandImage {
  display: flex;
  text-align: center;
  justify-content: center;
  height: auto;
  width: 100%;
}

.photoGalleryImages__wrapper {
  padding-left: $mobile-padding-between-components;
  padding-right: $mobile-padding-between-components;
  padding-bottom: $mobile-padding-between-components;
}
.photoGalleryImages__image {
  height: auto;
  width: 100%;
}