/*
  Name: 
  Anurag Bhattacharya
  Project: 
  BandSite Project - Sprint 3
  Description: 
  This is the Mixins
  Diving Deeper Notes:
  - All Diving Deeper From Sprint 1 Completed
  - Form Validation Diving Deeper From Sprint 2 Completed
  - Dynamic Timestamp Diving Deeper From Sprint 2 Not Completed
  - All Diving Deeper From Sprint 3 Completed
*/

/*
  All the Partials imported needed for the Mixins
*/

//Variables SCSS Style sheet
@import './variables';

//Text Styles Mixin
@mixin text-styles($font-size, $line-height, $font-weight)
{
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

//Header Section Styles Mixin
@mixin header-section-styles($width, $display, $flex-direction, $justify-content, $align-items, $background-color)
{
  width: $width;
  display: $display;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  background-color: $background-color;
}

//Hero Section Styles Mixin
@mixin hero-section-wrapper-styles($width, $height, $display, $flex-direction, $justify-content)
{
  width: $width;
  height: $height;
  display: $display;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
}

//Band Image Styles Mixin
@mixin band-image-styles($display, $text-align, $justify-content, $height, $width)
{
  display: $display;
  text-align: $text-align;
  justify-content: $justify-content;
  height: $height;
  width: $width;
}

//Band Logo Styles Mixin
@mixin bandSiteLogo-styles($max-height, $max-width)
{
  max-height: $max-height;
  max-width: $max-width;
}

//Tablet Dimension Styles Mixin
@mixin tablet 
{
  @media screen and (min-width: $tablet-breakdown) 
  {
    @content;
  }
}

//Desktop Dimension Styles Mixin
@mixin desktop 
{
  @media screen and (min-width: $desktop-breakdown) 
  {
    @content;
  }
}