/*
  Name: 
  Anurag Bhattacharya
  Project: 
  BandSite Project - Sprint 3
  Description: 
  This is the Photo Gallery Section Partial Component
  Diving Deeper Notes:
  - All Diving Deeper From Sprint 1 Completed
  - Form Validation Diving Deeper From Sprint 2 Completed
  - Dynamic Timestamp Diving Deeper From Sprint 2 Not Completed
  - All Diving Deeper From Sprint 3 Completed
*/

/*
  All the Partials imported needed for the Photo Gallery Section Partial Component
*/

//Mixin SCSS Style sheet
@import './mixins';
//Fonts SCSS Style sheet
@import './fonts';

//Band Photo Gallery Wrapper Styles
.photoGalleryWrapper 
{
  background-color: $Alabaster;

  //Band Photo Gallery Content Styles
  &__content 
  {
    padding: 0px $mobile-padding-between-components;
    
    @include tablet
    {
      padding: $desktop-tablet-padding-between-components;
    }
  }
  
  //Band Photo Gallery Title Wrapper Styles
  &__mainTitleWrapper 
  {
    padding-top: $mobile-padding-before-headlines;
    padding-bottom: $mobile-padding-after-headlines;
    
    @include tablet 
    {
      padding-top: $desktop-tablet-padding-before-headlines;
      padding-bottom: $desktop-tablet-padding-after-headlines;
    }
  }
  
  //Band Photo Gallery Title Styles
  &__mainTitle 
  {
    font-family: "AvenirNext-Bold";
    @include text-styles(2rem, 32px, 700);
    
    @include tablet 
    {
      @include text-styles(2.25rem, 44px, 700);
    }
  }
  
  //Band Photo Gallery Wrapper Styles
  &__photo-gallery 
  {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    
    @include tablet 
    {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  
  //Band Photo Gallery Area Styles
  &__photo-gallery-area 
  {
    padding-bottom: $mobile-padding-between-components;

    @include tablet 
    {
      width: 30%;
      padding-right: 1rem;
    }
    
    @include desktop 
    {
      padding-right: 0.5rem;
    }
  }
  
  //Band Photo Gallery - Photo Image Styles
  &__photo 
  {
    height: auto;
    width: 100%;
    filter: grayscale(100%);
    
    &:hover 
    {
      filter: grayscale(0%);
    }
  }
}