/*
  Name: 
  Anurag Bhattacharya
  Project: 
  BandSite Project - Sprint 3
  Description: 
  This is the Shows Data Table Partial Component
  Diving Deeper Notes:
  - All Diving Deeper From Sprint 1 Completed
  - Form Validation Diving Deeper From Sprint 2 Completed
  - Dynamic Timestamp Diving Deeper From Sprint 2 Not Completed
  - All Diving Deeper From Sprint 3 Completed
*/

/*
  All the Partials imported needed for the Shows Data Table Partial Component
*/

//Mixin SCSS Style sheet
@import './mixins';

//Fonts SCSS Style sheet
@import './fonts';

//Band Shows Table Wrapper Styles
.bandShows 
{
    @include desktop 
    {
        display: flex;
    }

    //Band Shows Table Headers Wrapper Styles
    &__headerWrapper 
    {
        padding-top: 1rem;
        flex: 1;
    }
    
    //Band Shows Table Headers Content Styles
    &__headerContent 
    {
        display: none;
        
        @include tablet 
        {
            display: flex;
            width: 70%;
        }
        
        @include desktop 
        {
            width: 100%;
            text-align: center;
        }
    }
    
    //Band Shows Table Header Titles Styles
    &__headerContent-date, &__headerContent-venue, &__headerContent-location 
    {
        @include tablet 
        {
            color: $Silver;
            font-family: 'AvenirNext-Demi'; 
            @include text-styles(14px, 22px, 600);
            padding: 24px 18px;
            width: 25%;
        }
    }

    //Band Shows Table Main Title Styles
    &__mainTitle 
    {
        padding: $mobile-padding-before-headlines 0px $mobile-padding-after-headlines $mobile-padding-between-components;
        font-family: "AvenirNext-Bold";
        @include text-styles(2rem, 32px, 700);
        
        @include tablet 
        {
            padding: $mobile-padding-before-headlines 0px $mobile-padding-after-headlines $mobile-padding-between-components;
            @include text-styles(2.25rem, 44px, 700);
        }
    }
    
    //Band Shows Table Show Data Styles
    &__showData 
    {
        border-bottom: 1px solid $Mercury;
        padding-bottom: $mobile-padding-between-components;
        display: flex;
        flex-direction: column;
        
        @include tablet 
        {
            text-align: center;

            &:hover {
                background-color: $Alabaster;
            }
        }
    }
    
    //Band Shows Table Show Content Styles
    &__showContent 
    {
        padding: 0px $mobile-padding-between-components;
        
        @include tablet 
        {
            display: flex;
            padding-left: 0px;
            padding-right: 0px;
            width: 100%;
            pointer-events: none;   
        }
    }
    
    //Band Shows Table Sub-Headers Styles
    &__dateTitle, &__venueTitle, &__locationTitle 
    {
        color: $Silver;
        padding: $mobile-padding-between-components 0px;
        @include text-styles(0.9rem, 22px, 600);

        @include tablet 
        {
            display: none;
        }
    }

    //Band Shows Table - Date Information Styles
    &__date 
    {
        font-family: "AvenirNext-Demi";
        @include text-styles(0.9rem, 22px, 600);

        @include tablet 
        {
            @include text-styles(0.9rem, 22px, 600);
            padding: 24px 18px;
            width: 25%;
            pointer-events: none;
        }
    }

    //Band Shows Table - Venue & Location Information Styles
    &__venue, &__location 
    {
        @include text-styles(0.8rem, 18px, 400);

        @include tablet 
        {
            @include text-styles(0.9rem, 22px, 400);
            padding: 24px 18px;
            width: 25%;
            pointer-events: none;
        }
    }

    //Band Shows Table - Button Wrapper Styles
    &__buttonWrapper 
    {
        padding-top: $mobile-padding-between-components;
        
        @include tablet 
        {
            padding: 24px 18px;
        }
    }

    //Band Shows Table - Button Styles
    &__button 
    {
        width: 100%;
        height: 40px;
        background-color: $BandSite-Black;
        color: $White;

        &:hover 
        {
            background-color: $BandSite-DarkBlack;
        }

        @include tablet 
        {
            width: 150px;
            padding: 0px 32px;
        }
    }

    //Band Shows Table Selected Row Styles
    &__selectedRow 
    {
        @include tablet 
        {
            background-color: $Mercury;

            &:hover 
            {
                background-color: $Mercury;
            }
        }
    }
}