@import './fonts';

$main-font-family: 'AvenirNext';

$BandSite-Black: #323232;

$Silver: #AFAFAF;

$White: #FFFFFF;

$BandSite-DarkBlack: #000000;

$Mercury: #E1E1E1;

$Alabaster: #FAFAFA;

$mobile-padding-before-headlines: 24px;

$mobile-padding-after-headlines: 16px;

$mobile-padding-between-components: 16px;