@import './fonts';

$main-font-family: 'AvenirNext';

$BandSite-Black: #323232;

$Silver: #AFAFAF;

$White: #FFFFFF;

$BandSite-DarkBlack: #000000;

$Mercury: #E1E1E1;

$Alabaster: #FAFAFA;

$mobile-padding-before-headlines: 2rem;

$mobile-padding-after-headlines: 1rem;

$mobile-padding-between-components: 1rem;

$desktop-tablet-padding-before-headlines: 3rem;

$desktop-tablet-padding-after-headlines: 2.25rem;

$desktop-tablet-padding-between-components: 2.25rem;

$tablet-breakdown: 768px; 

$desktop-breakdown: 1280px;