@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}
* {
  font-family: "AvenirNext";
  font-weight: normal;
  font-style: normal;
  padding: 0px;
  margin: 0px;
}

.headerSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #323232;
}

.bandSiteLogo {
  padding-top: 16px;
  padding-bottom: 16px;
}

.main-navigation {
  padding: 16px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.main-navigation__list li {
  list-style: none;
  display: inline;
  padding: 16px;
}

.main-navigation__list li:hover {
  border-bottom: 5px solid #FFFFFF;
}

.main-navigation__list li.main-navigation__item-active {
  color: #FFFFFF;
  font-weight: bold;
  border-bottom: 5px solid #FFFFFF;
}

.main-navigation__list li.main-navigation__item-inactive {
  color: #E1E1E1;
}

.mainWebsiteTitleWrapper {
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainWebsiteTitleWrapper__header {
  padding-left: 16px;
  padding-top: 24px;
  padding-bottom: 16px;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.aboutInformationWrapper__titleHeader {
  padding-left: 16px;
  padding-top: 24px;
  padding-bottom: 16px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.bandImageWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.bandImage {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 200px;
  width: 350px;
  padding-left: 16px;
  padding-bottom: 16px;
}

.bandQuoteWrapper {
  padding-left: 16px;
  padding-bottom: 16px;
}

.bandQuoteWrapper__quote {
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.bandBiographyWrapper {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding-left: 16px;
  padding-right: 16px;
}

.bandBiographyWrapper__title {
  color: #323232;
  padding-bottom: 16px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

.bandBiographyWrapper__text {
  padding-bottom: 16px;
}

.photoGalleryWrapper {
  background-color: #E1E1E1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photoGalleryWrapper__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  padding-left: 16px;
  padding-bottom: 16px;
}

.photoGalleryImages__image {
  height: 250px;
  width: 350px;
  padding-left: 16px;
  padding-bottom: 16px;
}

.footerSection {
  background-color: #323232;
  padding-top: 16px;
  padding-left: 16px;
}

.footerSection__title {
  font-weight: bold;
  padding-bottom: 16px;
  color: #FFFFFF;
}

.socialIconsWrapper__icon {
  padding-right: 16px;
  padding-bottom: 16px;
  height: 40px;
}

.contactInfo__section {
  padding-bottom: 16px;
}

.contactInfo__title {
  color: #FFFFFF;
  font-weight: bold;
}

.contactInfo__text {
  color: #E1E1E1;
}

.copyrightWrapper {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

.copyrightWrapper__logo {
  width: 15 0px;
  padding-top: 24px;
}

.copyrightWrapper__info {
  padding-top: 16px;
  padding-bottom: 16px;
  color: #E1E1E1;
}/*# sourceMappingURL=bio.css.map */