/*
  Name: 
  Anurag Bhattacharya
  Project: 
  BandSite Project - Sprint 3
  Description: 
  This is the Shows Page, displaying All the Shows Schedule of the Music Band
  Diving Deeper Notes:
  - All Diving Deeper From Sprint 1 Completed
  - Form Validation Diving Deeper From Sprint 2 Completed
  - Dynamic Timestamp Diving Deeper From Sprint 2 Not Completed
  - All Diving Deeper From Sprint 3 Completed
*/

/*
All need partials for Main/Bio Page imported
*/

//Fonts
@import './partials/fonts';

//BandSite Header Section
@import './partials/header';

//BandSite Hero Section
@import './partials/hero';

//BandSite Biography Section
@import './partials/aboutInformation';

//BandSite Photo Gallery Section
@import './partials/photoGallery';

//BandSite Comments Form and Panel Section
@import './partials/_commentsSection';

//bandSite Footer Section
@import './partials/footer';

//Global Styles
* {
  margin: 0;
  padding: 0;
  font-family: 'AvenirNext-Regular';
  font-weight: normal;
  font-style: normal;
}