//Make Width 100% for the images
//BandSite Logo max height and width

//Question: The spacing between the li elements
@import './partials/mixins';

* {
  @include normal-font-style($main-font-family, normal, normal);
  padding: 0px;
  margin: 0px;
}

.headerSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $BandSite-Black;
}
.bandSiteLogo {
  padding-top: $mobile-padding-after-headlines;
  padding-bottom: $mobile-padding-after-headlines;
  max-height: 20px;
  max-width: 120px;
}

.main-navigation {
  padding-top: $mobile-padding-between-components;
  padding-left: $mobile-padding-between-components;
  padding-right: $mobile-padding-between-components;
  width: 100%;
}

.main-navigation__list {
  display: flex;
  text-align: center;
  width: 100%;
}

.main-navigation__list li {
  list-style: none;
  width: 50%;
}

.main-navigation li:hover {
  color: $White;
  padding-bottom: 8px;
  border-bottom: 3px solid $White;
}

.main-navigation__item-active {
  color: $White;
  padding-bottom: 8px;
  border-bottom: 3px solid $White;
}

.main-navigation__item-inactive {
  color: $Mercury;
}

.mainWebsiteTitleWrapper {
  background: linear-gradient(rgba(50,50,50,0.5), rgba(50,50,50,0.5)), url('../assets/images/hero-bio.jpg') center/cover;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainWebsiteTitleWrapper__header {
  padding-left: $mobile-padding-between-components;
  padding-top: $mobile-padding-before-headlines;
  padding-bottom: $mobile-padding-after-headlines;
  color: $White;
  @include mobile-page-section-header-style(24px, 32px, 700);
}

.aboutInformationWrapper__titleHeader {
  padding-left: $mobile-padding-between-components;
  padding-top: $mobile-padding-before-headlines;
  padding-bottom: $mobile-padding-after-headlines;
  @include mobile-page-section-header-style(24px, 32px, 700);
}

.bandImageWrapper {
  padding-left: $mobile-padding-between-components;
  padding-right: $mobile-padding-between-components;
}

.bandImage {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 200px;
  width: 100%;
}

.bandQuoteWrapper {
  padding-top: $mobile-padding-between-components;
  padding-left: $mobile-padding-between-components;
  padding-bottom: $mobile-padding-between-components;
}

.bandQuoteWrapper p {
  color: $BandSite-Black;
  @include mobile-page-subheader-style(14px, 22px, 600);
  padding-bottom: $mobile-padding-between-components;
}


.bandBiographyWrapper {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding-left: $mobile-padding-between-components;
  padding-right: $mobile-padding-between-components;
}

.bandBiographyWrapper__title {
  color: $BandSite-Black;
  padding-bottom: $mobile-padding-between-components;
  @include mobile-page-subheader-style(14px, 22px, 600)
}

.bandBiographyWrapper__text {
  padding-bottom: $mobile-padding-between-components;
}

.photoGalleryWrapper {
  background-color: $Mercury;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photoGalleryWrapper__title {
  @include mobile-page-section-header-style(24px, 32px, 700);
  padding-left: $mobile-padding-between-components;
  padding-bottom: $mobile-padding-between-components;
  padding-top: $mobile-padding-before-headlines;
} 

.photoGalleryImages__wrapper {
  padding-left: $mobile-padding-between-components;
  padding-right: $mobile-padding-between-components;
  padding-bottom: $mobile-padding-between-components;
}
.photoGalleryImages__image {
  height: 250px;
  width: 100%;
}

.footerSection {
  background: $BandSite-Black;
  padding-top: $mobile-padding-between-components;
  padding-left: $mobile-padding-between-components;
}

.footerSection__title {
  font-weight: bold;
  padding-bottom: $mobile-padding-between-components;
  color: $White;
}

.socialIconsWrapper__icon {
  padding-right: $mobile-padding-between-components;
  padding-bottom: $mobile-padding-between-components;
}

.contactInfo__section {
  padding-bottom: $mobile-padding-between-components;
}

.contactInfo__title {
  color: $White;
  font-weight: bold;
}

.contactInfo__text {
  color: $Mercury
}

.copyrightWrapper{
  display: flex;
  flex-direction: column;
  padding-top: $mobile-padding-before-headlines;
}

.copyrightWrapper__logo {
  padding-top: $mobile-padding-before-headlines;
  max-height: 20px;
  max-width: 120px;
}
.copyrightWrapper__info {
  padding-top: $mobile-padding-between-components;
  padding-bottom: $mobile-padding-between-components;
  color: $Mercury;
}

