@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}
.header-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  .header-section {
    flex-direction: row;
  }
}

@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}
.main-logo-wrapper {
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  .main-logo-wrapper {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}

.main-logo-wrapper__logo {
  max-height: 20px;
  max-width: 120px;
}

@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}
.main-navigation, .main-navigation__navigationArea {
  width: 100%;
}

.main-navigation {
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .main-navigation {
    padding-top: 2.25rem;
  }
}
.main-navigation__navigationArea {
  display: flex;
  text-align: center;
}
.main-navigation__navigationArea li {
  list-style: none;
  width: 50%;
  font-size: 0.9rem;
  line-height: 32px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .main-navigation__navigationArea li {
    font-size: 1rem;
    line-height: 32px;
    font-weight: 600;
    width: 20%;
  }
}
.main-navigation__item-inactive-state {
  color: #E1E1E1;
}

.main-navigation li:hover, .main-navigation__item-active-state {
  color: #FFFFFF;
  padding-bottom: 0.1rem;
  border-bottom: 3.5px solid #FFFFFF;
}
@media screen and (min-width: 768px) {
  .main-navigation li:hover, .main-navigation__item-active-state {
    padding-bottom: 2rem;
  }
}

@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}
.hero-section-wrapper {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-bio.jpg") center/cover;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .hero-section-wrapper {
    height: 400px;
  }
}
.hero-section-wrapper__header {
  padding: 2rem 1rem 1rem 1rem;
  color: #FFFFFF;
  font-size: 2rem;
  line-height: 32px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .hero-section-wrapper__header {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
    font-size: 3.75rem;
    line-height: 44px;
    font-weight: 700;
  }
}

@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}
.biography-wrapper__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .biography-wrapper__content {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
.biography-wrapper__title-area {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.biography-wrapper__title {
  font-size: 2rem;
  line-height: 32px;
  font-weight: 700;
}

.biography-wrapper__image {
  display: flex;
  text-align: center;
  justify-content: center;
  height: auto;
  width: 100%;
}

.bandMottoWrapper {
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .bandMottoWrapper {
    padding-top: 2.25rem;
  }
}
.bandMottoWrapper__quote {
  padding-bottom: 1rem;
  font-size: 0.8rem;
  line-height: 18px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .bandMottoWrapper__quote {
    padding-bottom: 2.25rem;
    font-size: 0.9rem;
    line-height: 22px;
    font-weight: 600;
  }
}
.bandMottoWrapper__person {
  font-size: 0.8rem;
  line-height: 18px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .bandMottoWrapper__person {
    font-size: 0.9rem;
    line-height: 22px;
    font-weight: 600;
  }
}

.biography-content-wrapper {
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  .biography-content-wrapper {
    padding-top: 3rem;
  }
}
.biography-content-wrapper__title {
  font-size: 0.9rem;
  line-height: 22px;
  font-weight: 600;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .biography-content-wrapper__title {
    font-size: 2rem;
    line-height: 32px;
    font-weight: 600;
    padding-bottom: 2.25rem;
  }
}
.biography-content-wrapper__text {
  font-size: 0.8rem;
  line-height: 18px;
  font-weight: 400;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .biography-content-wrapper__text {
    font-size: 0.9rem;
    line-height: 22px;
    font-weight: 400;
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 768px) {
  .biography-content-wrapper__content {
    display: flex;
    justify-content: space-between;
  }
}

@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}
.photo-gallery-wrapper {
  background-color: #FAFAFA;
}
.photo-gallery-wrapper__content {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .photo-gallery-wrapper__content {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
.photo-gallery-wrapper__titleArea {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .photo-gallery-wrapper__titleArea {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
.photo-gallery-wrapper__title {
  font-size: 2rem;
  line-height: 32px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .photo-gallery-wrapper__title {
    font-size: 2.25rem;
    line-height: 44px;
    font-weight: 700;
  }
}
.photo-gallery-wrapper__photo-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .photo-gallery-wrapper__photo-gallery {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.photo-gallery-wrapper__photo-gallery-image-area {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .photo-gallery-wrapper__photo-gallery-image-area {
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .photo-gallery-wrapper__photo-gallery-image-area {
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.photo-gallery-wrapper__image {
  height: auto;
  width: 100%;
  filter: grayscale(100%);
}
@media screen and (min-width: 768px) {
  .photo-gallery-wrapper__image {
    width: 215px;
    height: 150px;
  }
}
@media screen and (min-width: 1280px) {
  .photo-gallery-wrapper__image {
    width: 450px;
    height: 150px;
  }
}
.photo-gallery-wrapper__image:hover {
  filter: grayscale(0%);
}

@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}
.footerSection {
  background-color: #000000;
}
@media screen and (min-width: 768px) {
  .footerSection {
    position: relative;
  }
}
.footerSection__content {
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .footerSection__content {
    padding-left: 2.25rem;
  }
}
.footerSection__title {
  color: #FFFFFF;
  padding-top: 2rem;
  font-size: 2rem;
  line-height: 32px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .footerSection__title {
    padding-top: 3rem;
    font-size: 2.25rem;
    line-height: 44px;
    font-weight: 700;
  }
}
@media screen and (min-width: 768px) {
  .footerSection__headerContent {
    display: flex;
  }
}

.contactInfo {
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .contactInfo {
    display: flex;
    padding-top: 2.25rem;
  }
}
.contactInfo__section p {
  color: #FFFFFF;
  font-size: 0.8rem;
  line-height: 18px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .contactInfo__section p {
    font-size: 0.9rem;
    line-height: 22px;
    font-weight: 400;
  }
}
.contactInfo__section {
  padding-top: 1rem;
}
.contactInfo__section-title {
  padding-top: 1rem;
}
.contactInfo__section-title p {
  color: #FFFFFF;
  font-size: 0.8rem;
  line-height: 18px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .contactInfo__section-title p {
    font-size: 0.9rem;
    line-height: 22px;
    font-weight: 600;
  }
}
.contactInfo__contactSection {
  padding-right: 2.25rem;
}

.copyrightInfo {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .copyrightInfo {
    padding-top: 2.25rem;
  }
}

.copyrightInfo p {
  color: #FFFFFF;
  font-size: 0.8rem;
  line-height: 18px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .copyrightInfo p {
    font-size: 0.9rem;
    line-height: 22px;
    font-weight: 400;
  }
}

.socialIcons__icon {
  padding-right: 1rem;
}

.socialIcons {
  padding-top: 1rem;
  display: flex;
}
@media screen and (min-width: 768px) {
  .socialIcons {
    padding-top: 3.75rem;
    padding-left: 2.25rem;
  }
}

.footerBandSiteLogo {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footerBandSiteLogo {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

* {
  font-family: "AvenirNext";
  font-weight: normal;
  font-style: normal;
  color: #323232;
  padding: 0rem;
  margin: 0rem;
}/*# sourceMappingURL=bio.css.map */