@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}
.headerSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  .headerSection {
    flex-direction: row;
  }
}

@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}
.bandSiteLogo {
  max-height: 20px;
  max-width: 120px;
}

.bandSiteLogoWrapper {
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  .bandSiteLogoWrapper {
    padding-top: 3rem;
    padding-left: 2.25rem;
    padding-bottom: 2.25rem;
    padding-right: 2.25rem;
  }
}

@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}
.main-navigation, .main-navigation__list {
  width: 100%;
}

.main-navigation {
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .main-navigation {
    padding-top: 2.25rem;
  }
}
.main-navigation__list {
  display: flex;
  text-align: center;
}
.main-navigation__list li {
  list-style: none;
  width: 50%;
  font-size: 0.9rem;
  line-height: 32px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .main-navigation__list li {
    font-size: 1rem;
    line-height: 32px;
    font-weight: 600;
    width: 20%;
  }
}
.main-navigation__item-inactive {
  color: #E1E1E1;
}

.main-navigation li:hover, .main-navigation__item-active {
  color: #FFFFFF;
  padding-bottom: 0.1rem;
  border-bottom: 3.5px solid #FFFFFF;
}
@media screen and (min-width: 768px) {
  .main-navigation li:hover, .main-navigation__item-active {
    padding-bottom: 2rem;
  }
}

@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}
.heroSectionWrapper {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-bio.jpg") center/cover;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .heroSectionWrapper {
    height: 400px;
  }
}
.heroSectionWrapper__header {
  padding-left: 1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: #FFFFFF;
  font-size: 2rem;
  line-height: 32px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .heroSectionWrapper__header {
    padding-left: 2.25rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    font-size: 3.75rem;
    line-height: 44px;
    font-weight: 700;
  }
}

@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}
.aboutInformationWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .aboutInformationWrapper {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
.aboutInformationWrapper__title {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .aboutInformationWrapper__title {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
.aboutInformationWrapper__titleHeader {
  font-size: 2rem;
  line-height: 32px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .aboutInformationWrapper__titleHeader {
    font-size: 2.25rem;
    line-height: 44px;
    font-weight: 700;
  }
}

.bandQuoteWrapper {
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .bandQuoteWrapper {
    padding-top: 2.25rem;
  }
}
.bandQuoteWrapper__quote {
  padding-bottom: 1rem;
  font-size: 0.8rem;
  line-height: 18px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .bandQuoteWrapper__quote {
    padding-bottom: 2.25rem;
    font-size: 0.9rem;
    line-height: 22px;
    font-weight: 600;
  }
}
.bandQuoteWrapper__quotePerson {
  font-size: 0.8rem;
  line-height: 18px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .bandQuoteWrapper__quotePerson {
    font-size: 0.9rem;
    line-height: 22px;
    font-weight: 600;
  }
}

.bandBiographyWrapper {
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  .bandBiographyWrapper {
    padding-top: 3rem;
  }
}
.bandBiographyWrapper__title {
  font-size: 0.9rem;
  line-height: 22px;
  font-weight: 600;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .bandBiographyWrapper__title {
    font-size: 2rem;
    line-height: 32px;
    font-weight: 600;
    padding-bottom: 2.25rem;
  }
}
.bandBiographyWrapper__text {
  font-size: 0.8rem;
  line-height: 18px;
  font-weight: 400;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .bandBiographyWrapper__text {
    font-size: 0.9rem;
    line-height: 22px;
    font-weight: 400;
    padding-bottom: 2.25rem;
  }
}

@media screen and (min-width: 768px) {
  .bandBiographyWrapper__content {
    display: flex;
    justify-content: space-between;
  }
}

@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}
.bandImage {
  display: flex;
  text-align: center;
  justify-content: center;
  height: auto;
  width: 100%;
}

.photoGalleryImages__wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .photoGalleryImages__wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .photoGalleryImages__wrapper {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.photoGalleryImages__image {
  height: auto;
  width: 100%;
  filter: grayscale(100%);
}
@media screen and (min-width: 768px) {
  .photoGalleryImages__image {
    width: 215px;
    height: 150px;
  }
}
@media screen and (min-width: 1280px) {
  .photoGalleryImages__image {
    width: 400px;
  }
}

.photoGalleryImages__image:hover {
  filter: grayscale(0%);
}

@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}
.photoGalleryWrapper {
  background-color: #FAFAFA;
}
.photoGalleryWrapper__title {
  font-size: 2rem;
  line-height: 32px;
  font-weight: 700;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  .photoGalleryWrapper__title {
    font-size: 2.25rem;
    line-height: 44px;
    font-weight: 700;
    padding-left: 2.25rem;
    padding-bottom: 2.25rem;
    padding-top: 3rem;
  }
}

.photoGalleryImages {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .photoGalleryImages {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}
.footerSection {
  background-color: #000000;
}
.footerSection__content {
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .footerSection__content {
    padding-left: 2.25rem;
  }
}
.footerSection__title {
  color: #FFFFFF;
  padding-top: 2rem;
  font-size: 2rem;
  line-height: 32px;
  font-weight: 700;
}
.footerSection__headerContent {
  display: flex;
}

.contactInfo {
  padding-top: 1rem;
}
.contactInfo__section p {
  color: #FFFFFF;
  font-size: 0.8rem;
  line-height: 18px;
  font-weight: 400;
}
.contactInfo__section {
  padding-top: 1rem;
}
.contactInfo__section-title {
  padding-top: 1rem;
}
.contactInfo__section-title p {
  color: #FFFFFF;
  font-size: 0.8rem;
  line-height: 18px;
  font-weight: 600;
}

.copyrightInfo {
  padding-bottom: 1rem;
}

.copyrightInfo p {
  color: #FFFFFF;
  font-size: 0.8rem;
  line-height: 18px;
  font-weight: 400;
}

.socialIcons__icon {
  padding-right: 1rem;
}

.socialIcons {
  padding-top: 1rem;
  display: flex;
}
@media screen and (min-width: 768px) {
  .socialIcons {
    padding-top: 2.25rem;
    padding-left: 2.25rem;
  }
}

.footerBandSiteLogo {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

* {
  font-family: "AvenirNext";
  font-weight: normal;
  font-style: normal;
  color: #323232;
  padding: 0rem;
  margin: 0rem;
}/*# sourceMappingURL=bio.css.map */