@import './partials/fonts';

//Header Section
@import './partials/header';

//Main Logo
@import './partials/bandSiteLogo';

//Main Navigation
@import './partials/mainNavigation';

//Hero Section
@import './partials/hero';

@import './partials/shows';

@import './partials/footer';

* {
  margin: 0;
  padding: 0;
  font-family: 'Avenir-Regular';
  font-weight: normal;
  font-style: normal;
  color: $BandSite-Black;
}